
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
  }
  
  html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: #fff;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #27ae60;
    border-radius: 5rem;
  }
  
  section {
    padding: 2rem 9%;
  }
  .heading {
    text-align: center;
    padding-bottom: 2rem;
  }
  
  .heading span {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #27ae60;
  }
  
  .btn {
    display: inline-block;
    margin-top: 5rem;
    padding: .7rem 8rem;
    font-size: 2.7rem;
    cursor: pointer;
    color: #fff;
    background: #5ec211;
    border-radius: .8rem;
  }
  
  .btn:hover {
    background: #27ae60;
  }
  .heading h3 {
    font-size: 3rem;
    color: #020412;
  }
  
.shopping-cart-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    z-index: 1000;
    height: calc(100vh - 8.5rem);
    background: #fff;
    overflow-y: scroll;
    padding-bottom: 8rem;
    display: none;
  }
  
  .shopping-cart-container.active {
    display: block;
  }
  
  .shopping-cart-container::-webkit-scrollbar {
    width: 1rem;
  }
  
  .shopping-cart-container::-webkit-scrollbar-track {
    background: #fff;
  }
  
  .shopping-cart-container::-webkit-scrollbar-thumb {
    background: #726e94;
    border-radius: 5rem;
  }
  
  .shopping-cart-container .title {
    font-size: 2.5rem;
    padding: 1rem;
    color: #130f40;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .shopping-cart-container .products-container {
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    -webkit-animation: fadeUp .4s linear;
            animation: fadeUp .4s linear;
  }
  
  .shopping-cart-container .products-container .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
  }
  
  .shopping-cart-container .products-container .box-container .box {
    border-radius: .5rem;
    background: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    position: relative;
  }
  
  .shopping-cart-container .products-container .box-container .box .fa-times {
    position: absolute;
    top: .7rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #130f40;
  }
  
  .shopping-cart-container .products-container .box-container .box .fa-times:hover {
    color: #27ae60;
  }
  
  .shopping-cart-container .products-container .box-container .box img {
    height: 8rem;
  }
  
  .shopping-cart-container .products-container .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
  }
  
  .shopping-cart-container .products-container .box-container .box .content span {
    font-size: 1.5rem;
    color: #666;
  }
  
  .shopping-cart-container .products-container .box-container .box .content span.price {
    color: #27ae60;
    font-size: 1.7rem;
  }
  
  .shopping-cart-container .products-container .box-container .box .content input {
    width: 8rem;
    padding: .5rem 1.2rem;
    font-size: 1.5rem;
    color: #130f40;
    margin: .7rem 0;
  }
  
  .shopping-cart-container .cart-total {
    margin-top: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    -webkit-animation: fadeUp .4s linear .4s backwards;
            animation: fadeUp .4s linear .4s backwards;
  }
  
  .shopping-cart-container .cart-total .box {
    padding: 1.5rem;
  }
  
  .shopping-cart-container .cart-total .box h3 {
    color: #2a2aa8;
    font-size: 2rem;
    padding-bottom: .7rem;
  }
  
  .shopping-cart-container .cart-total .box h3 span {
    color: #27ae60;
  }
  