
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #27ae60;
  border-radius: 5rem;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
}

.heading span {
  font-family: 'Satisfy', cursive;
  font-size: 3rem;
  color: #27ae60;
}

.heading h3 {
  font-size: 3rem;
  color: #130f40;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .7rem 1.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  background: #5ec211;
  border-radius: .5rem;
}

.btn:hover {
  background: #27ae60;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 15px;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #130f40;
}

.header .logo i {
  padding-right: .5rem;
  color: #27ae60;
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: #fff;
  background-color: rgb(43, 206, 43);
  padding: 8px;
  border-radius: 5px;
}

.header .navbar a:hover {
  color: #fff; 
  background-color: #27ae60;
  padding: 6px;
  border-radius: 5px;
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  background: #f7f7f7;
  color: #202058;
  border-radius: .5rem;
  margin-left: .3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover {
  color: #fff;
  background: #27ae60;
}

#menu-btn {
  display: none;
}



.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
}

.home .content span {
  font-size: 6rem;
  color: #27ae60;
}

.home .content h3 {
  font-size: 40rem;
  color: #130f40;
  padding-top: 1rem;
}

.home .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
  margin: 2rem 0;
  pointer-events: none;
}

.home .image .home-img {
  width: 100%;
  margin-top: 5rem;
}

.home .home-parallax-img {
  position: absolute;
  top: -10rem;
  right: -10rem;
  width: 80vw;
}
.home .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: #fff;
  background-color: rgb(43, 206, 43);
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 1rem;
  padding: .7rem 1.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  background: #5ec211;
  border-radius: .5rem;
}

.home.navbar a:hover {
  color: #fff; 
  background-color: #27ae60;
  padding: 6px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 1rem;
  padding: .7rem 1.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  background: #5ec211;
  border-radius: .5rem
}

.category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  padding-bottom: 5rem;
}

.category .box {
  padding: 2rem;
  text-align: center;
  border-radius: .5rem;
  background: #f7f7f7;
}

.category .box:hover {
  background: #4b27ae;
}

.category .box:hover h3 {
  color: #fff;
}

.category .box img {
  height: 7rem;
}

.category .box h3 {
  font-size: 1.8rem;
  color: #130f40;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background: #f7f7f7;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .content span {
  font-family: 'Satisfy', cursive;
  font-size: 3rem;
  color: #27ae60;
}

.about .content .title {
  font-size: 3rem;
  padding-top: .5rem;
  color: #130f40;
}

.about .content p {
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.4rem;
  color: #666;
}

.about .content .icons-container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.about .content .icons-container .icons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  border-radius: .5rem;
  background: #fff;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.about .content .icons-container .icons h3 {
  font-size: 1.7rem;
  color: #130f40;
}

.popular .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.popular .box-container .box {
  border-radius: .5rem;
  position: relative;
  background: #f7f7f7;
  padding: 2rem;
  text-align: center;
}

.popular .box-container .box .fa-heart {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2.5rem;
  color: #666;
  cursor: pointer;
}

.popular .box-container .box .fa-heart:hover {
  color: #27ae60;
}

.popular .box-container .box .image {
  margin: 1rem 0;
}

.popular .box-container .box .image img {
  height: 15rem;
}

.popular .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}

.popular .box-container .box .content .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.popular .box-container .box .content .stars i {
  color: gold;
}

.popular .box-container .box .content .stars span {
  color: #666;
}

.popular .box-container .box .content .price {
  font-size: 2rem;
  color: #130f40;
}

.popular .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}

.banner .row-banner {
  background: url(../image/row-banner.png) no-repeat;
  height: 45rem;
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner .row-banner .content {
  position: absolute;
  top: 50%;
  left: 7%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner .row-banner .content span {
  font-family: 'Satisfy', cursive;
  font-size: 4rem;
  color: #27ae60;
  color: #130f40;
}

.banner .row-banner .content h3 {
  font-size: 6rem;
  color: red;
  text-transform: uppercase;
}

.banner .row-banner .content p {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.banner .grid-banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.banner .grid-banner .grid {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  height: 45rem;
}

.banner .grid-banner .grid:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner .grid-banner .grid img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .grid-banner .grid .content {
  position: absolute;
  top: 2rem;
  padding: 0 2rem;
}

.banner .grid-banner .grid .content.center {
  text-align: center;
  width: 100%;
}

.banner .grid-banner .grid .content.center span {
  color: #666;
}

.banner .grid-banner .grid .content.center h3 {
  color: #130f40;
}

.banner .grid-banner .grid .content span {
  font-size: 2.5rem;
  color: #fff;
}

.banner .grid-banner .grid .content h3 {
  font-size: 3rem;
  color: #fff;
  padding-top: .5rem;
}

.menu .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  border-radius: .5rem;
  background: #f7f7f7;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.menu .box-container .box:hover {
  background: #25008a;
}

.menu .box-container .box:hover .content h3 {
  color: #fff;
}

.menu .box-container .box img {
  height: 10rem;
}

.menu .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
  padding-bottom: .5rem;
}

.menu .box-container .box .content .price {
  font-size: 1.8rem;
  color: #27ae60;
}

.tabel .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.tabel .icons-container .icons {
  border-radius: .5rem;
  padding: 2rem;
  text-align: center;
  background: #f7f7f7;
}

.tabel .icons-container .icons img {
  height: 10rem;
}

.tabel .icons-container .icons h3 {
  font-size: 2rem;
  color: #130f40;
  margin-top: .5rem;
}

.tabel form {
  background: #f7f7f7;
  padding: 2rem;
  border-radius: .5rem;
}

.tabel form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabel form .flex .inputBox {
  width: 49%;
  padding: .7rem 0;
}

.tabel form .flex span {
  font-size: 1.7rem;
  color: #5e5e5e;
}

.tabel select{
  width: 100%;
  padding: .8rem 0;
  border-radius: .5rem;
}

.tabel form .flex input, .tabel form .flex textarea {
  width: 100%;
  margin-top: .5rem;
  padding: 1rem 1.2rem;
  width: 100%;
  border-radius: .5rem;
  font-size: 1.6rem;
  text-transform: none;
  color: #130f40;
}

.tabel form .flex textarea {
  height: 20rem;
  resize: none;
}


body
{
  background: #000e29;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .7rem 1.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  background: #5ec211;
  border-radius: .5rem;
}

.btn:hover {
  background: #27ae60;
}

.contact alert>.start-icon {
    margin-right: 0;
    min-width: 20px;
    text-align: center;
}

.contact.alert>.start-icon {
    margin-right: 5px;
}

.contact.greencross
{
  font-size:18px;
      color: #25ff0b;
    text-shadow: none;
}

.contact.alert-simple.alert-success
{
  border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12156862745098039);
    box-shadow: 0px 0px 2px #259c08;
    color: #0ad406;
  text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}
.contact.alert-success:hover{
  background-color: rgba(7, 149, 66, 0.35);
  transition:0.5s;
}
.contact.alert-simple.alert-info
{
  border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12156862745098039);
    box-shadow: 0px 0px 2px #0396ff;
    color: #0396ff;
  text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.contact.alert-info:hover
{
  background-color: rgba(7, 73, 149, 0.35);
  transition:0.5s;
}

.contact.blue-cross
{
  font-size: 18px;
    color: #0bd2ff;
    text-shadow: none;
}

.contact.alert-simple.alert-warning
{
      border: 1px solid rgba(241, 142, 6, 0.81);
    background-color: rgba(220, 128, 1, 0.16);
    box-shadow: 0px 0px 2px #ffb103;
    color: #ffb103;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.contact.alert-warning:hover{
  background-color: rgba(220, 128, 1, 0.33);
  transition:0.5s;
}

.contact.warning
{
      font-size: 18px;
    color: #ffb40b;
    text-shadow: none;
}

.contact.alert-simple.alert-danger
{
  border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.contact.alert-danger:hover
{
     background-color: rgba(220, 17, 1, 0.33);
  transition:0.5s;
}

.contact.danger
{
      font-size: 18px;
    color: #ff0303;
    text-shadow: none;
}

.contact.alert-simple.alert-primary
{
  border: 1px solid rgba(6, 241, 226, 0.81);
    background-color: rgba(1, 204, 220, 0.16);
    box-shadow: 0px 0px 2px #03fff5;
    color: #03d0ff;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.contact.alert-primary:hover{
  background-color: rgba(1, 204, 220, 0.33);
   transition:0.5s;
}

.contact.alertprimary
{
      font-size: 18px;
    color: #03d0ff;
    text-shadow: none;
}

.contact.square_box {
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 45px;
    opacity: 0.302;
}

.contact.square_box.box_three {
    background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    opacity: 0.059;
    left: -80px;
    top: -60px;
    width: 500px;
    height: 500px;
    border-radius: 45px;
}

.contact.square_box.box_four {
    background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    opacity: 0.059;
    left: 150px;
    top: -25px;
    width: 550px;
    height: 550px;
    border-radius: 45px;
}

.contact.alert:before {
    content: '';
    position: absolute;
    width: 0;
    height: calc(100% - 44px);
    border-left: 1px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
      height: 20px;
}

.contact.fa-times
{
-webkit-animation: blink-1 2s infinite both;
          animation: blink-1 2s infinite both;
}


/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}



.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  border-radius: .5rem;
  overflow: hidden;
}

.blogs .box-container .box:hover .image h3 {
  left: 1.5rem;
}

.blogs .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .box-container .box .image {
  position: relative;
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box-container .box .image h3 {
  position: absolute;
  z-index: 10;
  top: 1rem;
  left: -100%;
  border-radius: .5rem;
  padding: .5rem 1rem;
  background: #fff;
  color: #b6b6bf;
  font-size: 1.5rem;
}

.blogs .box-container .box .image h3 i {
  padding-right: .5rem;
  color: #27ae60;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .box-container .box .content {
  padding: 2rem 1.5rem;
  background: #f7f7f7;
}

.blogs .box-container .box .content .tags {
  padding-bottom: 1rem;
}

.blogs .box-container .box .content .tags a {
  font-size: 1.5rem;
  color: #666;
  padding-right: .5rem;
}

.blogs .box-container .box .content .tags a:hover {
  color: #27ae60;
}

.blogs .box-container .box .content .tags a i {
  color: #27ae60;
  padding-right: .5rem;
}

.blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}

.blogs .box-container .box .content p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

.spec {
  font-size: 11px;
}
.footer {
  background: #f7f7f7;
}


.footer .newsletter {
  text-align: center;
  margin-bottom: 2rem;
}

.footer .newsletter h3 {
  font-size: 2.5rem;
  color: #130f40;
  padding-bottom: 1rem;
}

.footer .newsletter form {
  max-width: 70rem;
  margin: 1rem auto;
  max-width: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: .5rem;
  overflow: hidden;
}

.footer .newsletter form input[type="email"] {
  height: 100%;
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
}

.footer .newsletter form input[type="submit"] {
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #fff;
  background: rgb(24, 209, 36);
  cursor: pointer;
}

.footer .newsletter form input[type="submit"]:hover {
  background: #130f40;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}

.footer .box-container .box a:hover {
  color: #27ae60;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  padding-right: .5rem;
  color: #27ae60;
}

.footer .bottom {
  padding-top: 1rem;
  text-align: center;
}

.footer .bottom .share {
  margin: 1.5rem 0;
}

.footer .bottom .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  border-radius: .5rem;
  margin: 0 .3rem;
  color: #fff;
  background: tomato;
}

.footer .bottom .share a:hover {
  background: #130f40;
}

.footer .bottom .credit {
  font-size: 2rem;
  color: #666;
  padding: 1rem;
}

.footer .bottom .credit span a{
  color: #fff;
  background-color: #3f0fc2;
  padding: 0px 7px;
}

.footer .bottom .credit span a:hover{
  color: #fff;
  background-color: #27ae60;
  padding: 5px 7px;
}

